body {
  overflow-y: scroll;
  overflow-x: hidden;
}
#root,
body,
html {
  background-color: #f5f5ff;
  box-sizing: border-box;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
i,
a,
header,
html,
img,
ul,
li,
ol,
nav,
p,
small,
span,
label {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
 
  vertical-align: baseline;
  background-color: transparent;
}
body{
  font-family: Arial,Sans-serif;
}